body, html {
    margin: 0;
    padding: 0;
    color: #555;
    font-family: sans-serif;
}
#map {
    width: 100vw; height: 100vh;
    box-sizing: border-box;
}
#info {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 50%;
    max-width: 21em;
    background: #fff;
    padding: 1em;
    box-shadow: .1em .1em .25em rgba(0, 0, 0, .5);
    line-height: 150%;
    box-sizing: border-box;
}
#info h1 {
    font-size: 1em;
}
#info h2 {
    margin-top: 2em;
    font-size: .8rem;
}
.hidden {
    width: 0 !important;
}
#closer {
    float: right;
    color: #000;
    text-decoration: none;
    background: #fff;
    position: absolute;
    left: -2em;
    width: 1em;
    padding: .5em;
    border: .1em solid #eee;
    border-right: 0;
}
footer, .copyright {
    font-size: .8em;
    line-height: 125%;
}
footer {
    margin-top: 2rem;
    border-top: 1px solid #eee;
}
#popup-content {
    background: #fff;
    padding: .25em;
    box-shadow: .1em .1em .25em rgba(0, 0, 0, .5);
}
/* Copyright-Fix */
.ol-attribution.ol-uncollapsible {
    padding-right: 2em !important;
}

@media only screen and (max-width: 980px) {
    #info {
        width: 100%;
    }
    #closer {
        left: -1em;
    }
}
